

:root {
    --primary-background-color: rgba(112, 111, 114, 0.212);
    --cor-botoes: rgb(0, 0, 0);
    --cor-aside: rgba(37, 35, 35, 0.438);
    --cor-header: rgba(112, 111, 114, 0.212);
    --cor-bory: rgb(53, 52, 52);
    
}

