* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 920px;
  background-color: var(--cor-bory);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  height: 100%;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--cor-header);
  border-bottom: solid 1px var(--cor-borda);
  box-shadow: 1px 1px 2px var(--cor-shadow);
  background-color: var(--cor-background2);
}

.botao-logo {
  padding: 25px;
  border-right: solid 1px var(--cor-borda);
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--color-font);
}

#logo {
  height: 25px;
}

.botao-hoje {
  background-color: var(--cor-background3);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: black;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-font);
}

.botao-hoje:hover {
  background-color:var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

.botao-filtrar {
  background-color: var(--cor-background3);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-font);
}

.botao-filtrar:hover {
  background-color:var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

.fa-filter {
  padding-right: 5px;
}

.botao-perfil {
  background-color: var(--cor-background3);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: var(--color-font);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;

}

.botao-perfil:hover {
  background-color:var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

#cabecalho-direita {
  display: flex;
  padding-right: 5px;
  align-items: center;
}

.cabecalho-calendario {
  grid-column: 1/13;
  grid-row: 2/3;
  display: flex;
  border-bottom: solid 1px var(--cor-borda);
  border-top: solid 1px var(--cor-borda);
  box-shadow: 1px 1px 2px var(--cor-shadow);
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: var(--color-font);
  background-color: var(--cor-background2);
}

main {
  grid-column: 2/12;
  grid-row: 3/12;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  padding-right: 10px;
}

#themeSelect {
  background-color: rgb(255, 255, 255);
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 1px lightblue;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  transition-duration: 0.4s;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#themeSelect>option {
  font-size: 20px;
  text-align: center;
  margin-top: 19px;

}

.titulo-cabecalho-temas {
  background-color: var(--cor-fundo-titulo);
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  border: solid 1px var(--cor-borda);
  padding-top: 13px;
  font-size: 25px;
}

.titulo-tema {
  padding-top: 30px;
  font-size: 25px;
}

.lista-itens {
  grid-column: 1/1;
  grid-row: 1/2;
  height: 600px;
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 8px var(--cor-shadow);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--color-font);
  background-color: var(--cor-background2);
}

aside {
  grid-column: 1/2;
  grid-row: 3/12;
  display: flex;
  flex-direction: column;
  width: 65px;
  height: 700px;
  justify-content: space-around;
  background-color: var(--cor-aside);
  border-right: solid 1px var(--cor-borda);
  border-top: solid 1px var(--cor-borda);
  border-bottom: solid 1px var(--cor-borda);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 5px var(--cor-shadow);
}

.menu-visualizacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-visualizacao>button {
  background-color: var(--cor-botoes-visualizacao);
  border: hidden 4px var(--cor-shadow);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
  color: white;
  padding: 5px 1px;
  text-decoration: none;
  margin: 3px 10px;
  transition-duration: 0.4s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-visualizacao>button:hover {
  background-color: var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

.menu-listas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-listas>button {
  background-color: var(--cor-botoes-listas);
  width: 40px;
  height: 40px;
  border: hidden 4px var(--cor-shadow);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
  color: white;
  padding: 5px 1px;
  text-align: center;
  text-decoration: none;
  margin: 3px 10px;
  transition-duration: 0.4s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-listas>button:hover {
  background-color: var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

.menu-criacao {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-criacao>button {
  background-color: var(--cor-botoes-criacao);
  width: 40px;
  height: 40px;
  border: hidden 4px lightblue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
  color: white;
  padding: 5px 1px;
  text-align: center;
  text-decoration: none;
  margin: 3px 10px;
  transition-duration: 0.4s;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-criacao>button:hover {
  background-color: var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

.menu-ferramentas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-ferramentas>button {
  background-color: var(--cor-botoes-ferramentas);
  width: 40px;
  height: 40px;
  border: hidden 4px lightblue;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
  color: white;
  padding: 5px 1px;
  text-align: center;
  text-decoration: none;
  margin: 3px 10px;
  transition-duration: 0.4s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-ferramentas>button:hover {
  background-color: var(--cor-botoes-houver);
  box-shadow: 1px 1px 3px black;
}

footer {
  grid-column: 1/13;
  grid-row: 12/13;
  display: flex;
  border-top: solid 1px lightgray;
  box-shadow: 3px 3px 2px lightblue;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--color-font);
}

.menu {
  display: none;
}

@media screen and (max-width: 600px) {

  aside {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
  }

  .menu {
    display: block;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    background-color: var(--cor-botoes-ferramentas);
    border: hidden 4px lightblue;
    border-radius: 100%;
    box-shadow: 2px 2px 5px black;
    color: white;
    padding: 25px 25px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .cabecalho-calendario {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  main {
    grid-column: 1/13;
    grid-row: 3/12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }

  #themeSelect>option {
    font-size: 15px;
    margin: 0px;
  }


  .lista-itens {
    grid-column: 1;
    grid-row: 1/2;
  }

  footer {
    grid-column: 1/13;
    grid-row: 12/13;
  }


}