<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" id="themeStylesheetLink" href="temas/tema-padrao.css">
    <link rel="stylesheet" href="configuracoes.css">
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="./home.html" class="botao-logo">
                <img id="logo" src="logo3.png" title="logo Tina">
            </a>
            <button class="botao-hoje" type="button">Hoje</button>
            <div id="cabecalho-direita">
                <button class="botao-filtrar" type="button">
                    <i class="fa-solid fa-filter"></i>
                    Filtrar
                </button>
                <a href="./perfil.html">
                    <button class="botao-perfil">
                        <i class="fa-solid fa-user"></i>
                </a>
                <button id="btnLogout">
                    <i class="fa-sharp fa-solid fa-power-off"></i>
                </button>
            </div>
        </header>
        <div class="cabecalho-calendario">
            <div>

            </div>
            <div>Configurações</div>
            <div>

            </div>
        </div>
        <main>
            <div class="lista-itens">
                <div class="titulo-cabecalho-temas">
                    Personalização
                </div>
                <p class="titulo-tema">
                    Selecione um tema:
                </p>
                <select id="themeSelect">
                    <option class="opcao-tema" value="tema-padrao">Padrão</option>
                    <option class="opcao-tema" value="tema-icones">Padrão - Icones</option>
                    <option class="opcao-tema" value="tema-dark">Dark </option>
                    <option class="opcao-tema" value="tema-icones-dark">Dark - Icones</option>
                    <option class="opcao-tema" value="tema1">Tema1</option>
                    <option class="opcao-tema" value="tema1-icones">Tema 1 - Icones</option>
                    <option class="opcao-tema" value="tema2">Tema2</option>
                    <option class="opcao-tema" value="tema2-icones">Tema 2 - Icones</option>
                    <option class="opcao-tema" value="Tema3">Tema3</option>
                    <option class="opcao-tema" value="tema3-icones">Tema 3 - Icones</option>
                </select>
            </div>
            <button class="menu" type="button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </main>
        <aside>
            <div class="menu-visualizacao">
                <button id="mensal" class="visualizacao-mes" type="button">
                    <i class="fa-solid fa-m"></i>
                </button>
                <button id="diaria" class="visualizacao-diaria" type="button">
                    <i class="fa-solid fa-d"></i>
                </button>
            </div>
            <div class="menu-listas">
                <button id="item" class="itens" type="button">
                    <i class="fa-solid fa-i"></i>
                </button>
                <button id="habitos" class="habitos" type="">
                    <i class="fa-solid fa-h"></i>
                </button>
            </div>
            <div class="menu-criacao">
                <button id="atividade" class="criacao-atividade" type="button">
                    <i class="fa-solid fa-a"></i>
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button id="item" class="criacao-item" type="button">
                    <i class="fa-solid fa-i"></i>
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button id="habitos" class="criacao-habito" type="button">
                    <i class="fa-solid fa-h"></i>
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button id="categoria" class="criacao-categoria" type="button">
                    <i class="fa-solid fa-c"></i>
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="menu-ferramentas">
                <button id="ajuda" class="ajuda" type="button">
                    <i class="fa-solid fa-question"></i>
                    <button id="configuracoes" class="ferramentas" type="button">
                        <i class="fa-solid fa-gear"></i>
                    </button>
            </div>
        </aside>
        <footer>Rodapé</footer>
    </div>

    <script type="text/javascript" src="configuracoes.js"></script>
    <script type="text/javascript" src="logout.js"></script>
    <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
</body>

</html>