<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="duvidas.css">
    <link rel="stylesheet" id="themeStylesheetLink" href="temas/tema-icones.css">
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="./home.html" class="botao-logo">
                <img id="logo" src="logo3.png" title="Retornar para página inicial">
            </a>
            <a href="./home.html">
                <button class="botao-hoje" type="button" title="Retornar a data atual">Hoje</button>
            </a>
            <select id="themeSelect" style="display: none;">
                <option class="opcao-tema" value="tema-icones">Padrão - Icones</option>
                <!-- <option class="opcao-tema" value="tema-padrao">Padrão - letras</option> -->
                <option class="opcao-tema" value="tema-icones-dark">Dark - Icones</option>
                <!-- <option class="opcao-tema" value="tema-dark">Dark - letras</option> -->
                <option class="opcao-tema" value="tema1-icones">Tema 1 - Icones</option>
                <!-- <option class="opcao-tema" value="tema1">Tema 1 - letras</option> -->
                <option class="opcao-tema" value="tema2-icones">Tema 2 - Icones</option>
                <!-- <option class="opcao-tema" value="tema2">Tema 2 - letras</option> -->
                <option class="opcao-tema" value="tema3-icones">Tema 3 - Icones</option>
                <!-- <option class="opcao-tema" value="Tema3">Tema 3 - letras</option> -->
            </select>
            <div id="cabecalho-direita">
                <button class="botao-filtrar" type="button" title="Filtre as atividades, itens ou hábitos por categoria ou prioridade">
                    <i class="fa-solid fa-filter"></i>
                    Filtrar
                </button>
                <a href="./perfil.html">
                    <button class="botao-perfil" title="Clique aqui para acessar seu Perfil">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
                <button id="btnLogout" title="Clique aqui para sair do Tina">
                    <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </header>
        <div class="cabecalho-ajuda">
            <div class="ajuda-funciona">Ajuda</div>
        </div>
        <main>
            <div class="caixa-ajuda-principal">
                <div class="caixa-perguntas">
                    <div class="duvidas">COMO FUNCIONA A TINA</div>


                    <button id="action-btn" title="Selecione esta dúvida para exibir a explicação">Como criar uma atividade? <i class="fas fa-angle-down"></i></button>

                    <div id="resposta-1">

                        À esquerda, no menu lateral, há um botão com o icone "Atividade". Clicando nele você poderá
                        criar uma atividade e dar um titulo, uma descrição e uma categoria. Pode fixar por prioridade e
                        inserir uma data para incia-la e termina-la.

                    </div>

                    <button id="action-btn2" title="Selecione esta dúvida para exibir a explicação">Como criar um hábito? <i class="fas fa-angle-down"></i></button>

                    <div id="resposta-2">

                        Também no menu à esquerda, você pode criar um hábito clicando no botão "Hábitos". Do mesmo modo
                        que se cria uma atividade, os hábitos são personalizados com título, descrição, categoria e
                        prioridades.

                    </div>


                    <button id="action-btn3" title="Selecione esta dúvida para exibir a explicação">Como criar uma categoria? <i class="fas fa-angle-down"></i>
                    </button>

                    <div id="resposta-3">

                        Dentro das atividades ou dos hábitos, você pode criar categorias correspondentes a Faculdade,
                        Trabalho, Saúde e Pessoais.

                    </div>


                    <button id="action-btn4" title="Selecione esta dúvida para exibir a explicação">Como receber/desativar notificações por email? <i
                            class="fas fa-angle-down"></i>
                    </button>

                    <div id="resposta-4">

                        Para conseguir receber ou desativar as notificações que chegam por email, você deve seguir até o
                        ícone de configurações no canto inferior esquerdo, encontrar a aba de notificações e ativa-la ou
                        desativa-la.

                    </div>



                    <button id="action-btn5" title="Selecione esta dúvida para exibir a explicação">Como concluir uma atividade? <i class="fas fa-angle-down"></i>
                    </button>



                    <div id="resposta-5">

                        Ao lado do campo que mostra a atividade, você verá um checkbox. Ao selecionar a caixa e
                        confirmar a conclusão, a atividade estará finalizada.

                    </div>




                    <button id="action-btn6" title="Selecione esta dúvida para exibir a explicação">Como alterar o tema da página? <i class="fas fa-angle-down"></i>
                    </button>


                    <div id="resposta-6">
                        Seguindo para o seu perfil, você encontrará um ícone de personalização. Um menu de temas irá se
                        abrir ao clicar sobre ele. Basta escolher um e confirmar.


                    </div>

                    <button id="action-btn7" title="Selecione esta dúvida para exibir a explicação">Como alterar senha e dados do cadastro? <i class="fas fa-angle-down"></i>
                    </button>

                    <div id="resposta-7">
                        No menu à esquerda existe o ícone de configurações, lá você encontrá uma aba de alteração de
                        dados cadastrais e poderá mudar a senha, email e informações referentes a sua conta.

                    </div>


                </div>
                <div class="caixa-explicacoes"> Aqui você pode tirar suas dúvidas e entender mais sobre o funcionamento
                    da Tina. Você irá aprender como se cria uma atividade ou um hábito. Como personalizar o site,
                    escolhendo temas e definindo atribuições por prioridades. Também aprenderá como ser notificado por
                    email quando uma determinada atividade está prestes a começar ou acabar, como alterar dados
                    cadastrais e entre outras coisas. </div>
            </div>
            <button class="menu" type="button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </main>

        <footer>Rodapé</footer>
    </div>
    <script src="duvidas.js" defer></script>
    <script src="logout.js"></script>
    <script src="configuracoes.js"></script>
    <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
</body>

</html>