* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 920px;
  background-color: var(--cor-bory);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  height: 100%;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-bottom: solid 1px var(--cor-borda);
  box-shadow: 1px 1px 2px var(--cor-shadow);
  background-color: var(--cor-background);
}

.botao-logo {
  padding: 25px;
  border-right: solid 1px var(--cor-borda);
  text-decoration: none;
  color: var(--color-font);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#logo {
  height: 25px;
}

.botao-hoje {
  background-color: var(--cor-background4);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
    color: var(--color-font);
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.botao-hoje:hover {
  background-color: var(--cor-botoes-hover2);
  box-shadow: 1px 1px 3px var(--cor-shadow);
}

.botao-filtrar {
  background-color: var(--cor-background4);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: var(--color-font);
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botao-filtrar:hover {
  background-color: var(--cor-botoes-hover2);
  box-shadow: 1px 1px 3px var(--cor-shadow);
}

.fa-filter {
  padding-right: 5px;
}

.botao-perfil {
  background-color: var(--cor-background4);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: var(--color-font);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.botao-perfil:hover {
  background-color: var(--cor-botoes-hover2);
    box-shadow: 1px 1px 3px var(--cor-shadow);
}

#btnLogout {
  background-color: var(--cor-background4);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 1px var(--cor-shadow);
  color: var(--color-font);
  padding: 10px 10px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  margin: 4px 20px 4px 20px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

#btnLogout:hover {
  background-color: var(--cor-botoes-hover2);
  box-shadow: 1px 1px 3px var(--cor-shadow);
}

#cabecalho-direita {
  display: flex;
  padding-right: 5px;
  align-items: center;
}

#cabecalho-direita {
  display: flex;
  padding-right: 5px;
  align-items: center;
}

 .cabecalho-ajuda {
  grid-column: 1/13;
  grid-row: 2/3;
  color: var(--color-font);
  border-bottom: solid 1px var(--cor-borda);
  border-top: solid 1px var(--cor-borda);
  box-shadow: 1px 1px 2px var(--cor-borda);
  background-color: var(--cor-header);
  justify-content: flex start;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

main {
  grid-column: 2/12;
  grid-row: 3/12;
  padding: 20px 30px 30px 30px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  background-color: var(--cor-background4);
  border: solid 1px var(--cor-borda);
  box-shadow: 1px 1px 8px var(--cor-shadow);
  height: 800px;
}

.caixa-ajuda-principal {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: repeat(12, 1fr);
  background-color: var(--cor-background2);
  border: solid 1px var(--cor-borda);
  border-radius: 15px;
  box-shadow: 1px 1px 8px var(--cor-shadow);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
  
}
#action-btn{
 background-color: var(--cor-botoes-visualizacao);
 color: var(--color-font);
}

#action-btn2{
  background-color: var(--cor-botoes-listas);
  color: var(--color-font);
 }

 #action-btn3{
  background-color: var(--cor-botoes-criacao);
  color: var(--color-font);
 }

 #action-btn4{
  background-color: var(--cor-botoes-visualizacao);
  color: var(--color-font);
 }

 #action-btn5{
  background-color: var(--cor-botoes-listas);
  color: var(--color-font);
 }

 #action-btn6{
  background-color: var(--cor-botoes-criacao);
  color: var(--color-font);
 }

 #action-btn7{
  background-color: var(--cor-botoes-visualizacao);
  color: var(--color-font);
 }

.duvidas {
  padding-bottom: 10px;
  font-size: 25px;
}

#resposta-1 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
  
}

#resposta-2 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-3 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-4 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-5 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-6 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-7 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}

#resposta-8 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}
#resposta-9 {
  display: none;
  margin: 10px;
  width: 400;
  height: 100;
  padding-top: 7px;
}
.caixa-perguntas {
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.caixa-perguntas > button {
  height: 40px;
  width: 600px;
  margin: 20px 20px 0px 20px;
  background-color:  rgb(255, 255, 255);;
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgb(110, 110, 110);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.caixa-perguntas > button:hover {
  background-color: rgb(255, 240, 240);
  box-shadow: 1px 1px 3px rgb(65, 64, 64);
  font-weight: bold;
  transition: 1.5;
}

.caixa-explicacoes {
  grid-column: 2/2;
  grid-row: 1/13;
  height: 615px;
  padding: 45px;
  margin: 10px 25px 25px 20px;
  background-color: rgb(255, 255, 255);
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgb(110, 110, 110);
  text-align:justify;
  text-indent: 50px;
  font-weight: normal;
  line-height: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  grid-column: 1/13;
  grid-row: 12/13;
  display: flex;
  color: var(--color-font);
  border-top: solid 1px lightgray;
  box-shadow: 3px 3px 2px lightblue;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.menu {
  display: none;
}

@media screen and (max-width: 600px) {

  aside {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
  }

  .menu {
    display: block;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    background-color: rgb(236, 42, 42);
    border: hidden 4px lightblue;
    border-radius: 100%;
    box-shadow: 2px 2px 5px black;
    color: white;
    padding: 25px 25px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .cabecalho-ajuda {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  main {
    grid-column: 1/13;
    grid-row: 3/12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }

  .caixa-ajuda {
    grid-column: 1;
    grid-row: 1/2;
  }

  footer {
    grid-column: 1/13;
    grid-row: 12/13;
  }


}
