<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="home.css" />
  <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap"
    rel="stylesheet" />
  <title>Tina</title>
</head>

<body onload="condicional()">
  <div class="container">
    <header>
      <a href="./home.html" class="botao-logo">
        <img id="logo" src="logo3.png" title="logo Tina" />
      </a>
      <button id="botao-hoje" class="botao-hoje" type="button" title="Retornar a data atual">Hoje</button>
      <div id="cabecalho-direita">
        <button class="botao-filtrar" type="button" onclick="aparecerFiltros()">
          <i class="fa-solid fa-filter"></i>
          Filtrar
        </button>
        <div class="campos">
          <select id="filtro" class="categoria" onchange="filtrar(event)" style="display: none;">
            <option value="Todos" selected>Todos</option>
            <option value="Todos" disabled>Prioridades</option>
            <option value="Prioridade Baixa">Baixa</option>
            <option value="Prioridade Média">Média</option>
            <option value="Prioridade Alta">Alta</option>
            <option value="Todos" disabled>Categorias</option>
          </select>
        </div>
        <a href="./perfil.html">
          <button class="botao-perfil" title="Clique aqui para acessar seu Perfil">
            <i class="fa-solid fa-user"></i>
          </button>
        </a>
        <button id="btnLogout" title="Clique aqui para sair do Tina">
          <i class="fa-sharp fa-solid fa-power-off"></i>
        </button>
      </div>
    </header>
    <main>
      <div id="container-listas">
        <div class="listas">
          <div class="lista-itens" title="Aqui são exibidos os itens adicionados à Lista de Itens">
            <p><img src="../Images/item.png" alt="Item"> Lista de Itens</p>
            <div id="todos-itens">
              <div id="cada-item" onclick="abrirModalItem(event)" style="display: none;">
              </div>
            </div>
          </div>
          <div class="lista-habitos" title="Aqui são exibidos os hábitos adicionados à Lista de Hábitos">
            <p><img src="../Images/lista-habitos.png" alt="Hábitos"> Lista de Hábitos</p>
            <div id="todos-habitos">
              <div id="cada-habito" onclick="abrirModalHabito(event)" style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="container-calendario">
        <div class="calendario">
          <div id="header">
            <div id="monthDisplay"></div>
            <div>
              <button id="backButton" title="Retornar ao mês anterior">Anterior</button>
              <button id="nextButton" title="Avançar para o próximo mês">Seguinte</button>

            </div>
          </div>
          <div id="dia-semana"></div>
          <div id="container-horarios">
            <div id="calendar"></div>
          </div>
        </div>
      </div>

      <button class="menu" type="button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </main>

    <aside>
      <div class="menu-visualizacao">
        <p>Visão</p>
        <button class="visualizacao-mes" type="button" id="btn-visualizacao-mensal" title="Exibir visão mensal">
          <img src="../Images/mensal.png" alt="Mensal">
          <p>Mensal</p>
        </button>
        <button class="visualizacao-semana" type="button" title="Exibir visão semanal">
          <img src="../Images/semanal.png" alt="Semanal">
          <p>Semanal</p>
        </button>
        <button class="visualizacao-diaria" type="button" id="btn-visualizacao-diaria" title="Exibir visão diária">
          <img src="../Images/diaria.png" alt="Diária">
          <p>Diária</p>
        </button>
      </div>
      <div class="menu-listas">
        <p>Listas</p>
        <button class="itens" type="button" onclick="esconderLista(event)" title="Exibir/ocultar lista de itens">
          <img src="../Images/item.png" alt="Item" class="icone itens">
          <p>Itens</p>
        </button>
        <button class="habitos" type="" onclick="esconderLista(event)">
          <img src="../Images/lista-habitos.png" alt="Hábitos" class="icone habitos"
            title="Exibir/ocultar lista de hábitos">
          <p>Hábitos</p>
        </button>
      </div>
      <div class="menu-criacao">
        <p>Criar</p>
        <button class="criacao-atividade" type="button" title="Inserir uma atividade">
          <a href="#" onclick="onOff('atividade')" class="button"><img src="../Images/atividade.png"
              alt="Atividade"></a>
          <p>Atividade</p>
        </button>
        <button class="criacao-item" type="button" title="Inserir um item">
          <a href="#" onclick="onOff('item', 'criar')" class="button"><img src="../Images/item.png" alt="Item"></a>
          <p>Item</p>
        </button>
        <button class="criacao-habito" type="button" title="Inserir um hábito">
          <a href="#" onclick="onOff('habito', 'criar')" class="button"><img src="../Images/lista-habitos.png"
              alt="Hábitos"></a>
          <p>Hábito</p>
        </button>

        <button class="criacao-categoria" type="button" title="Inserir uma categoria">
          <a href="#" onclick="onOff('categoria')" class="button"><img src="../Images/categoria.png"
              alt="Categoria"></a>
          <p>Categoria</p>
        </button>
      </div>
      <div class="menu-ferramentas">
        <p>Mais</p>
        <button class="ajuda" type="button" id="btn-ajuda"
          title="Aqui você encontra detalhes e informações sobre o Tina!">
          <img src="../Images/ajuda.png" alt="Ajuda">
          <p>Dúvidas</p>
        </button>
        <button class="ferramentas" type="button" id="btn-configuracoes" title="Configurações e ajustes">
          <img src="../Images/configuracoes.png" alt="Configurações">
          <p>Ajustes</p>
        </button>
      </div>
    </aside>

    <div id="modal-categoria" class="hide">
      <div class="nova-categoria">
        <div class="cabecalho">
          <h2>Categoria</h2>
          <a href="#" onclick="onOff('categoria')"><i class="fa-solid fa-x"></i></a>
        </div>
        <table id="tableClient" class="records">
          <thead>
            <tr>
              <th>Categoria</th>

              <th>Cor</th>

              <th>Ação</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="modal" id="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Nova categoria</h2>
              <div class="modal-close" id="modalClose"></div>
              <form id="form" class="modal-form">
                <input type="text" id="nome" data-index="new" class="modal-field" placeholder="Descrição da categoria"
                  required />
                <label for="categoria">Cor da categoria: </label>
                <select id="cor" class="modal-field" name="cor" placeholder="Cor da categoria" type="text">
                  <option value="">Selecione</option>
                  <option class="redText" value="Vermelho">Vermelho</option>
                  <option class="greenText" value="Verde">Verde</option>
                  <option class="blueText" value="Azul">Azul</option>
                  <option class="yellowText" value="Amarelo">Amarelo</option>
                  <option class="pinkText" value="Rosa">Rosa</option>
                </select>
              </form>
              <footer class="modal-footer">
                <button id="salvar" class="button green">Salvar</button>
                <button id="cancelar" class="button blue">Cancelar</button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-atividade" class="hide">
      <div class="nova-atividade">
        <div class="cabecalho">
          <h1>Nova Atividade</h1>
          <a href="#" onclick="onOff('atividade')"><i class="fa-solid fa-x"></i></a>
        </div>

        <form id="form-atividade" class="formulario" action="/" method="POST" onsubmit="checkFields(event)">
          <div class="campos">
            <label for="titulo">Título: </label>
            <input id="titulo" class="titulo" type="text" name="titulo" required />
          </div>

          <div class="campos">
            <label for="descricao">Descrição: </label>
            <textarea id="descricao" class="descricao" name="descricao" cols="30" rows="10"></textarea>
          </div>

          <div class="data">
            <label for="data-inicio">Data: </label>
            <input id="data-inicio" class="data-inicio" type="date" name="data-inicio" />
            <label for="data-fim"> até: </label>
            <input id="data-fim" class="data-fim" type="date" name="data-fim" />
          </div>

          <div class="horario">
            <label for="description">Horário: </label>
            <input id="horario-inicio" class="horario-inicio" type="time" name="horario-inicio" />
            <label for="description"> até: </label>
            <input id="horario-final" class="horario-final" type="time" name="horario-final" />
          </div>

          <div class="campos">
            <label for="categoria">Categoria: </label>
            <select id="categoria" class="categoria">
              <option value="" disabled selected>Escolha a categoria</option>
            </select>
          </div>

          <div class="campos">
            <label for="prioridade">Prioridade: </label>
            <select id="prioridade" class="prioridade" name="prioridade">
              <option value="Baixa">Baixa</option>
              <option value="Média">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </div>

          <div class="campos">
            <label for="periodizacao">Periodização: </label>
            <select id="periodizacao" class="periodizacao" name="periodizacao">
              <option value="nao-se-aplica" selected>Não se aplica</option>
              <option value="diariamente">Diariamente</option>
              <option value="semanalmente">Semanalmente</option>
              <option value="mensalmente">Mensalmente</option>
            </select>
          </div>
          <div id="div-criar-atividade">
            <button id="criar-atividade" type="button">Criar</button>
          </div>
        </form>
      </div>
    </div>

    <div id="modal-atualizar-atividade" class="hide">
      <div class="atualizar-atividade">
        <div class="cabecalho">
          <h1>Editar Atividade</h1>
          <a href="#" onclick="onOff('atualizar-atividade')"><i class="fa-solid fa-x"></i></a>
        </div>

        <form id="form-atualizar-atividade" class="formulario" action="/" method="POST" onsubmit="checkFields(event)">
          <div class="campos">
            <label for="titulo">Título: </label>
            <input id="atualizar-titulo" class="titulo" type="text" name="titulo" />
          </div>

          <div class="campos">
            <label for="descricao">Descrição: </label>
            <textarea id="atualizar-descricao" class="descricao" name="descricao" cols="30" rows="10"></textarea>
          </div>

          <div class="data">
            <label for="data-inicio">Data: </label>
            <input id="atualizar-data-inicio" class="data-inicio" type="date" name="data-inicio" />
            <label for="data-fim"> até: </label>
            <input id="atualizar-data-fim" class="data-fim" type="date" name="data-fim" />
          </div>

          <div class="horario">
            <label for="description">Horário: </label>
            <input id="atualizar-horario-inicio" class="horario-inicio" type="time" name="horario-inicio" />
            <label for="description"> até: </label>
            <input id="atualizar-horario-final" class="horario-final" type="time" name="horario-final" />
          </div>

          <div class="campos">
            <label for="categoria">Categoria: </label>

            <select id="atualizar-categoria" class="categoria">
              <option value="" disabled selected>Escolha a categoria</option>
            </select>
          </div>

          <div class="campos">
            <label for="prioridade">Prioridade: </label>
            <select id="atualizar-prioridade" class="prioridade" name="prioridade">
              <option value="Baixa">Baixa</option>
              <option value="Média">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </div>

          <div class="campos">
            <label for="periodizacao">Periodização: </label>
            <select id="atualizar-periodizacao" class="periodizacao" name="periodizacao">
              <option value="nao-se-aplica" selected>Não se aplica</option>
              <option value="diariamente">Diariamente</option>
              <option value="semanalmente">Semanalmente</option>
              <option value="mensalmente">Mensalmente</option>
            </select>
          </div>
          <div id="div-atualizar-excluir-atividade">
            <button id="atualizar" class="atualizar-atividade" type="button">
              Atualizar
            </button>
            <button id="excluir" class="excluir-atividade" type="button">
              Excluir
            </button>
            <button id="concluir" class="concluir-atividade" type="button">
              Concluir
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="modal-item" class="hide">
      <div class="novo-item">
        <div class="cabecalho">
          <h1 id="h1-item">Novo Item</h1>
          <a href="#" onclick="onOff('item')"><i class="fa-solid fa-x"></i></a>
        </div>

        <form id="form-item">
          <input type="hidden" id="idItem" name="idItem" value="" />
          <div class="campos">
            <label for="titulo">Título: </label>
            <input type="text" id="item-titulo" class="campos" />
          </div>

          <div class="campos">
            <label for="descricao">Descrição: </label>
            <textarea id="item-descricao" class="campos" cols="30" rows="10"></textarea>
          </div>

          <div class="campos">
            <label for="categoria">Categoria: </label>
            <select id="item-categoria" class="categoria">
              <option value="" disabled selected>Escolha a categoria</option>
            </select>
          </div>

          <div class="campos">
            <label for="prioridade">Prioridade: </label>
            <select id="item-prioridade" class="campos">
              <option value="Baixa">Baixa</option>
              <option value="Média">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </div>
          <button id="btn-criar-item">Criar</button>
          <button id="btn-atualizar-item" onclick="atualizarItem()" style="display: none">
            Atualizar
          </button>
          <button id="btn-remover-item" onclick="removerItem()" style="display: none">
            Remover
          </button>
        </form>
      </div>
    </div>

    <div id="modal-habito" class="hide">
      <div class="novo-habito">
        <div class="cabecalho">
          <h1 id="h1-habito">Novo hábito</h1>
          <a href="#" onclick="onOff('habito')"><i class="fa-solid fa-x"></i></a>
        </div>
        <form id="form-habito">
          <input type="hidden" id="idHabito" name="idHabito" value="" />
          <div class="campos">
            <label for="titulo">Título: </label>
            <input id="habito-titulo" type="text" name="titulo" />
          </div>

          <div class="campos">
            <label for="descricao">Descrição: </label>
            <textarea id="habito-descricao" name="descricao" cols="30" rows="10"></textarea>
          </div>

          <div class="data">
            <label for="data-inicio">Data </label>
            <input id="habito-data-inicio" type="date" name="data-inicio" />
            <label for="data-fim"> até </label>
            <input id="habito-data-fim" type="date" name="data-fim" />
          </div>

          <div class="campos">
            <label for="categoria">Categoria: </label>

            <select id="habito-categoria" class="categoria">
              <option value="" disabled selected>Escolha a categoria</option>
            </select>
          </div>

          <div class="campos">
            <label for="prioridade">Prioridade: </label>
            <select id="habito-prioridade" name="prioridade">
              <option value="Baixa">Baixa</option>
              <option value="Média">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </div>

          <div class="campos">
            <label for="periodizacao">Periodização: </label>
            <select id="habito-periodizacao" name="periodizacao">
              <option value="nao-se-aplica" selected>Não se aplica</option>
              <option value="diariamente">Diariamente</option>
              <option value="semanalmente">Semanalmente</option>
              <option value="mensalmente">Mensalmente</option>
            </select>
          </div>
          <button id="btn-criar-habito">Criar</button>
          <button id="btn-atualizar-habito" onclick="atualizarHabito()" style="display: none">
            Atualizar
          </button>
          <button id="btn-remover-habito" onclick="removerHabito()" style="display: none">
            Remover
          </button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    Desenvolvido por Diana, Ellen, Gabriela, Juliana, Pedro e Pedro.
  </footer>
  <script src="scripts.js"></script>
  <script src="teste_categoria.js"></script>
  <script src="criar-atividade.js"></script>
  <script src="crud-item.js"></script>
  <script src="crud-habito.js"></script>
  <script src="atualizarAtividade.js"></script>
  <script src="inserirAtividadeDiario.js"></script>
  <!-- <script src="inserirAtividadeCalendario.js"></script> -->
  <!-- <script src="calendarioMensal.js"></script> -->
  <script src="exibir-listas.js"></script>
  <script src="logout.js"></script>
  <script src="filtros.js"></script>
  <script src="calendarioDiario.js"></script>
</body>

</html>
