<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="perfil.css">
    <link rel="stylesheet" id="themeStylesheetLink" href="temas/tema-icones.css">
    <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="./home.html" class="botao-logo">
                <img id="logo" src="logo3.png" title="logo Tina">
            </a>
            <a href="./home.html">
                <button class="botao-hoje" type="button">Hoje</button>
            </a>
                <select id="themeSelect" style="display: none;">
                    <option class="opcao-tema" value="tema-icones">Padrão - Icones</option>
                    <option class="opcao-tema" value="tema-padrao">Padrão - letras</option>
                    <option class="opcao-tema" value="tema-icones-dark">Dark - Icones</option>
                    <option class="opcao-tema" value="tema-dark">Dark - letras</option>
                    <option class="opcao-tema" value="tema1-icones">Tema 1 - Icones</option>
                    <option class="opcao-tema" value="tema1">Tema 1 - letras</option>
                    <option class="opcao-tema" value="tema2-icones">Tema 2 - Icones</option>
                    <option class="opcao-tema" value="tema2">Tema 2 - letras</option>
                    <option class="opcao-tema" value="tema3-icones">Tema 3 - Icones</option>
                    <option class="opcao-tema" value="Tema3">Tema 3 - letras</option>
                </select>
            <div id="cabecalho-direita">
                <a href="./perfil.html">
                    <button class="botao-perfil">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
                <button id="btnLogout" title="Clique aqui para sair do Tina">
                    <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </header>
        <div class="cabecalho-perfil">
            <div>
                <a href="./home.html">
                <button id="voltar"><i class="fa-solid fa-caret-left"></i> Voltar</button>
                </a>
            </div>
            <div class="perfil"> Perfil</div>
        </div>
        <main>
            <div class="perfilinformacoes">
                <div class="dados-do-perfil"> Dados do perfil</div>
                <div class="cabecalhodados">Informações pessoais</div>
                <div class="infopessoais">
                    <form action="#" class="formsinfo">
                        <label for="nome">Nome completo:</label>
                        <input type="text" id="nomePerfil" name="nome"><br>
                        <label for="email">E-mail:</label>
                        <input type="text" id="emailPerfil" name="email"><br>
                        <input type="checkbox" id="notifemail" name="notifemail" value="notifemail">
                        <label for="notifemail"> Desejo receber notificações por E-mail</label><br>
                    </form>
                </div>
                <div class="seguranca">
                    <div class="segsenha">Segurança - Alterar senha </div>
                    <div class="formulariosenha">
                        <form action="#2">
                            <label for="senha">Senha:</label>
                            <input type="password" id="senhaPerfil" name="senha"><br>
                            <label for="confirmSenha">Confirmar nova senha:</label>
                            <input type="password" id="confirmSenha" name="confirmSenha"><br>
                        </form>
                    </div>
                </div>
                <button id="salvaAteracoes" type="button">Salvar</button>
            </div>
        </main>
        <footer>Rodapé</footer>
    </div>

</body>


</html>
<script type="text/javascript" src="login.js"></script>
<script src="logout.js"></script>
<script type="text/javascript" src="cadastro.js"></script>
<script type="text/javascript" src="configuracoes.js"></script>
<script type="text/javascript" src="perfil.js"></script>
