* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: block;
    height: 920px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-bottom: solid 1px lightgray;
    box-shadow: 1px 1px 2px lightblue;
}

.botao-logo {
    padding: 25px;
    border-right: solid 1px lightgray;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.botao-hoje {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 1px lightblue;
    color: black;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}

.botao-hoje:hover {
    background-color: rgb(241, 247, 248);
    box-shadow: 1px 1px 3px black;
}

.botao-filtrar {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 1px lightblue;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao-filtrar:hover {
    background-color: rgb(241, 247, 248);
    box-shadow: 1px 1px 3px black;
}

.fa-filter {
    padding-right: 5px;
}

.botao-perfil {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 1px lightblue;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}

.botao-perfil:hover {
    background-color: rgb(241, 247, 248);
    box-shadow: 1px 1px 3px black;
}

#cabecalho-direita {
    display: flex;
    padding-right: 5px;
    align-items: center;
}

/* .cabecalho-calendario {
    grid-column: 1/13;
    grid-row: 2/3;
    display: flex;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    box-shadow: 1px 1px 2px lightblue;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
} */

main {
    grid-column: 2/13;
    grid-row: 2/12;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
}

main img {
    width: 21px;
    height: 21px;
}

#container-listas {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.listas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lista-itens {
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 8px lightblue;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    padding-top: 10px;
    height: 49%;
    width: 100%;
}

.lista-habitos {
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 8px lightblue;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    padding-top: 10px;
    height: 49%;
    width: 100%;
}

#container-calendario {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calendario {
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 8px lightblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    width: 775px;
}

aside {
    grid-column: 1/2;
    grid-row: 2/12;
    display: flex;
    flex-direction: column;
    width: 65px;
    /*65px*/
    height: 700px;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-right: solid 1px lightgray;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px 5px lightblue;
}

aside img {
    width: 21px;
    height: 21px;
}

.menu-visualizacao,
.menu-listas,
.menu-criacao,
.menu-ferramentas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-visualizacao>p,
.menu-listas>p,
.menu-criacao p,
.menu-ferramentas>p {
    letter-spacing: 0.5px;
    /*não tinha*/
    padding: 5px 10px;
    /*5px 1px;*/
    text-decoration: none;
    transition-duration: 0.4s;
    color: black;
    font-size: small;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}

.menu-visualizacao>button,
.menu-listas>button,
.menu-criacao>button,
.menu-ferramentas>button {
    background-color: rgb(223, 39, 39);
    border: hidden 4px lightblue;
    width: 40px;
    /*40px*/
    height: 40px;
    border-radius: 15px;
    /*100%*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    color: white;
    letter-spacing: 0.5px;
    /*não tinha*/
    padding: 5px 10px;
    /*5px 1px;*/
    text-decoration: none;
    margin: 3px 10px;
    transition-duration: 0.4s;
    font-size: x-small;
    /*large*/
    display: flex;
    justify-content: space-between;
    /*center*/
    align-items: center;
}

.menu-visualizacao>button:hover,
.menu-listas>button:hover,
.menu-criacao>button:hover,
.menu-ferramentas>button:hover {
    width: 100px;
    /*40px*/
    background-color: rgb(241, 85, 85);
    box-shadow: 1px 1px 3px black;
}

.menu-visualizacao>button p,
.menu-listas>button p,
.menu-criacao>button p,
.menu-ferramentas>button p {
    opacity: 0;
    visibility: hidden;
}


.menu-visualizacao>button:hover p,
.menu-listas>button:hover p,
.menu-criacao>button:hover p,
.menu-ferramentas>button:hover p {
    color: white;
    opacity: 100;
    visibility: visible;
}

/*
.menu-listas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-listas>button {
    background-color: rgb(223, 39, 39);
    width: 40px;
    height: 40px;
    border: hidden 4px lightblue;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    color: white;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    margin: 3px 10px;
    transition-duration: 0.4s;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-listas>button:hover {
    background-color: rgb(241, 85, 85);
    box-shadow: 1px 1px 3px black;
}

.menu-criacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-criacao>button {
    background-color: rgb(223, 39, 39);
    width: 40px;
    height: 40px;
    border: hidden 4px lightblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    color: white;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    margin: 3px 10px;
    transition-duration: 0.4s;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-criacao>button:hover {
    background-color: rgb(241, 85, 85);
    box-shadow: 1px 1px 3px black;
}

.menu-ferramentas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-ferramentas>button {
    background-color: rgb(223, 39, 39);
    width: 40px;
    height: 40px;
    border: hidden 4px lightblue;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    color: white;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    margin: 3px 10px;
    transition-duration: 0.4s;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-ferramentas>button:hover {
    background-color: rgb(241, 85, 85);
    box-shadow: 1px 1px 3px black;
}
*/

footer {
    grid-column: 1/13;
    grid-row: 12/13;
    display: flex;
    border-top: solid 1px lightgray;
    box-shadow: 3px 3px 2px lightblue;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.menu {
    display: none;
}

@media screen and (max-width: 600px) {

    aside {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 10px;
    }

    .menu {
        display: block;
        position: fixed;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -95%);
        background-color: rgb(236, 42, 42);
        border: hidden 4px lightblue;
        border-radius: 100%;
        box-shadow: 2px 2px 5px black;
        color: white;
        padding: 25px 25px;
        text-decoration: none;
        transition-duration: 0.4s;
        font-size: x-large;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header {
        grid-column: 1/13;
        grid-row: 1/2;
    }

    .cabecalho-calendario {
        grid-column: 1/13;
        grid-row: 2/3;
    }

    main {
        grid-column: 1/13;
        grid-row: 3/12;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 15px;
        padding-right: 15px;
    }

    .calendario {
        grid-column: 1;
        grid-row: 1/2;
    }

    .listas {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .lista-itens {
        grid-column: 1;
        grid-row: 1/2;
    }

    .lista-habitos {
        grid-column: 1;
        grid-row: 2/3;
    }

    footer {
        grid-column: 1/13;
        grid-row: 12/13;
    }


}


/*modal-atividade*/
#modal-atividade,
#modal-atualizar-atividade,
#modal-item,
#modal-categoria,
#modal-habito {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 15px;

    box-shadow: 1px 1px 8px lightblue;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    padding-bottom: 0;

    display: flex;
    justify-content: center;
    display: grid;

    transition: 200ms;
}

#modal-atividade.hide,
#modal-item.hide,
#modal-atualizar-atividade.hide,
#modal-categoria.hide,
#modal-habito.hide {
    opacity: 0;
    visibility: hidden;
}

#modal-atividade.addScroll,
#modal-item.addScroll,
#modal-atualizar-atividade.addScroll,
#modal-categoria.addScroll,
#modal-habito.addScroll {
    overflow: auto;
}

#modal-atividade .nova-atividade .cabecalho,
#modal-item .nova-item .cabecalho,
#modal-atualizar-atividade .atualizar-atividade .cabecalho,
#modal-categoria .nova-categoria .cabecalho,
#modal-habito .nova-habito .cabecalho {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}


#modal-atividade .nova-atividade .cabecalho h1,
#modal-item .nova-item .cabecalho h1,
#modal-atualizar-atividade .atualizar-atividade h1,
#modal-categoria .nova-categotia .cabecalho h1,
#modal-habito .nova-habito .cabecalho h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.nova-atividade .cabecalho a,
.novo-item .cabecalho a,
.atualizar-atividade a,
.novo-categoria .cabecalho a,
.novo-habito .cabecalho a {
    background-color: rgb(223, 39, 39);
    border: hidden 4px lightblue;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    color: white;
    padding: 5px 1px;
    text-decoration: none;
    margin: 3px 10px;
    transition-duration: 0.4s;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nova-atividade .cabecalho a:hover,
.novo-item .cabecalho a:hover,
.atualizar-atividade .cabecalho a:hover,
.nova-categoria .cabecalho a:hover,
.novo-habito .cabecalho a:hover {
    background-color: #ff616199;
    text-decoration: none;
}

#modal-atividade form,
#modal-atualizar-atividade form,
#modal-categoria form,
#modal-item form,
#modal-habito form {
    width: 100%;

    margin: 0 auto 0;
    display: grid;
    justify-content: center;
    align-items: flex-end;

    gap: 12px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(217, 217, 217, 0.58);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px;
}

div.campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
}

div.data,
div.horario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



form button {
    background-color: #ff6161;
    border: 1px solid;
}


#div-atualizar-excluir-atividade {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#div-criar-atividade {
    width: 100%;
    display: flex;
    justify-content: center;
}

#criar-atividade,
#atualizar,
#excluir,
#concluir {
    background-color: rgb(223, 39, 39);
    border: none;

    color: white;
    border-radius: 15px 15px 0px 0px;

    width: 150px;
    height: 40px;
    margin: 0 10px;
    margin-top: 10px;

    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.5px;

    vertical-align: bottom;


    transition: 400ms;
}

#criar-atividade:hover,
#atualizar:hover,
#excluir:hover,
#concluir:hover {

    background-color: #ff616199;
    text-decoration: none;
}

.campo-vazio {
    border: solid 2px rgb(209, 45, 45) !important;
}

.cada-item, .cada-habito {
    width: 97%;
    padding: 10px;
    height: 10%;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
#todos-itens, #todos-habitos {
    height: 90%;
    margin: 1%;
    padding-top: 2%;
}
#todos-itens.addScroll, #todos-habitos.addScroll {
    overflow: auto;
}

#todos-itens::-webkit-scrollbar, #todos-habitos::-webkit-scrollbar {
    width: 0.7em;
}

#todos-itens::-webkit-scrollbar-track, #todos-habitos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#todos-itens::-webkit-scrollbar-thumb, #todos-habitos::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 0.58);
    outline: 1px solid white;
    border-radius: 10px;
}



#header {
    padding: 10px;
    color: darkblue;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 1px lightblue;
    color: black;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

#header button:hover {
    background-color: rgb(241, 247, 248);
    box-shadow: 1px 1px 3px black;
}

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: darkblue;
    justify-content: center
}

#weekdays div {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

#calendar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.day:hover {
    background-color: #e8faed;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#monthDisplay {
    text-transform: capitalize;
}

.event {
    padding: 5px;

    display: inline-table;
    flex-direction: column;
    color: darkblue;
    background-color: lightgray;
    border-radius: 15px;
    margin: 5px 0;
    font-weight: 200;
}
