<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="telaperfil-tina.css">
    <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="botao-logo">Tina</a>
            <div id="cabecalho-direita">
                <button class="botao-perfil">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
        </header>
        <div class="cabecalho-perfil">
            <div>
                <i class="fa-solid fa-caret-left"></i>
                <button class="voltar" type="button">Voltar</button>
            </div>
            <div class="perfil"> Perfil</div>
        </div>
        <main>
            <div class="campofoto">
                <div class="foto-perfil">
                    <img src="tinaavatar.png" alt="tinaavatar">
                    <div>
                        <button class="botao-alterar-foto" type="button">Alterar foto de perfil</button>
                    </div>
                </div>
            </div>
            <div class="perfilinformacoes"> 
                <div class="dados-do-perfil"> Dados do perfil</div>
                <div class="cabecalhodados">Informações pessoais</div>
                <div class="infopessoais">
                    <form action="#" class="formsinfo">
                        <label for="nome">Nome completo:</label>
                        <input type="text" id="nome" name="some" value="Fulano da Silva"><br>
                        <label for="email">E-mail:</label>
                        <input type="text" id="email" name="email" value="fulano@x.com">
                        <input type="checkbox" id="notifemail" name="notifemail" value="notifemail">
                        <label for="notifemail"> Desejo receber notificações por E-mail</label><br>
                        <label for="text">Gênero:</label>
                        <select id="genero" name="genere">
                            <option value="feminino">feminino</option>
                            <option value="Maculino">Maculino</option>
                            <option value="naodeclarar">Prefiro não dizer</option>
                        </select>
                        <label for="datanasc">Data de nascimento:</label>
                        <input type="date" id="datanasc" name="datanasc" min="2000-01-02"><br><br>
                    </form>
                </div>
                <div class="seguranca">
                    <div class="segsenha">Segurança </div>
                    <div class="formulariosenha">
                        <form action="#2">
                            <label for="senha">Alterar senha:</label>
                            <input type="text" id="senha" name="senha" value="Insira a nova senha"><br>
                            <label for="senha2">Confirmar nova senha:</label>
                            <input type="text" id="senha2" name="senha2" value="Digite novamente a nova senha"><br>
                        </form>
                    </div>
                </div>
                <input type="submit" value="Salvar alterações">
            </div>
        </main>
        <footer>Rodapé</footer>
    </div>
</body>

</html>