<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tela-cadastro-tina.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="botao-logo">
                <img id="logo" src="logo3.png" title="logo Tina">
            </a>
        </header>
        <main>
            <div id="logogrande">
                <img id="logopag" src="logo2.png" title="logo Tina" width="500">
            </div>
            <div id="avatarpag">
                <img id="avatar" src="tinaavatar.png" title="Avatar Tina" width="415" height="415">
            </div>
            <div id="cardpag" class="card">

                <div id="msgerror"></div>
                <div id="msgsuccess"></div>

                <div class="input-cad">
                    <h1 id="tituloCad">Cadastre-se!</h1>
                    <div class="label-float">
                        <label id="labelnome" for="nome">Nome completo:</label>
                        <input type="text" id="nome" placeholder="">
                    </div>
                    <div class="label-float">
                        <label id="labelemail" for="email">E-mail:</label>
                        <input type="text" id="email" placeholder="">

                    </div>
                    <div class="label-float">
                        <label id="labelSenha" for="senha">Cadastrar senha:</label>
                        <i id="ver-nova" class="fa fa-eye" aria-hidden="true"></i>
                        <input type="password" id="senha" placeholder=" ">
                    </div>
                    <div class="label-float">
                        <label id="labelconfirm" for="confirmsenha">Confirmar senha:</label>
                        <i id="ver-confirm-senha" class="fa fa-eye" aria-hidden="true"></i>
                        <input type="password" id="confirmsenha" placeholder="">
                    </div>
                    <div>
                        <button onclick='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer>
        Rodapé
    </footer>

    </div>
</body>

</html>

<script type="text/javascript" src="tela-cadastro-tina.js"></script>