* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: block;
    height: 920px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-bottom: solid 1px lightgray;
    box-shadow: 1px 1px 2px lightblue;
}

.botao-logo {
    border-right: solid 1px lightgray;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#logo-cabecalho {
    height: 40px;
}

main {
    grid-column: 1/13;
    grid-row: 2/12;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

#logo-grande {
    grid-column: 1/5;
    grid-row: 2/5;
    display: flex;
}

.texto-explicativo {
    grid-column: 1/5;
    grid-row: 5/9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rebeccapurple;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 8px lightgray;
}

#texto {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.input-usuario {
    grid-column: 5/9;
    grid-row: 5/9;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 1px 1px 8px lightblue;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

label[for=usuario],
label[for=senha] {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=login] {
    width: 100%;
    background-color: rgb(223, 39, 39);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.esqueci-senha {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#avatar-tina {
    grid-column: 6/8;
    grid-row: 1/5;
    height: 280px;
    width: 280px;
}

.cadastro {
    grid-column: 9/13;
    grid-row: 5/9;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 8px lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

footer {
    grid-column: 1/13;
    grid-row: 12/13;
    display: flex;
    border-top: solid 1px lightgray;
    box-shadow: 3px 3px 2px lightblue;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    
    #logo-grande {
        width: 200px;
        height: 100px;
        grid-column: 6/8;
        grid-row: 1/3;
        display: flex;
    }
    
    #avatar-tina {
        grid-column: 6/8;
        grid-row: 3/5;
        height: 200px;
        width: 200px;
    }

    .input-usuario {
        grid-column: 5/9;
        grid-row: 5/9;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        box-shadow: 1px 1px 8px lightblue;
        height: 260px;
    }

    .cadastro {
        grid-column: 5/9;
        grid-row: 9/11;
        border: solid 1px lightgray;
        border-radius: 15px;
        box-shadow: 1px 1px 8px lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .texto-explicativo {
        display: none;
    }
}

@media screen and (max-width: 1230px) {

    .texto-explicativo {
        display: none;
    }
}
