* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: block;
    height: 1080px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-bottom: solid 1px lightgray;
    box-shadow: 1px 1px 2px lightblue;
}

.botao-logo {
    padding: 25px;
    border-right: solid 1px lightgray;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#logo {
    height: 25px;
}

main {
    grid-column: 1/13;
    grid-row: 2/12;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.slogan {
    grid-column: 4/1;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.logo-grande {
    grid-column: 4/6;
    grid-row: 2/8;
    width: 700px;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bolder;
}

#logopag {
    height: 250px;
}

.texto-explicativo {
    text-indent: 2em;
    grid-column: 2/6;
    grid-row: 8/15;
    line-height: 42px;
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    padding: 0px 50px 50px 50px;
}

.input-usuario {
    grid-column: 7/11;
    grid-row: 9/10;
    height: 300px;
    margin: -50px;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px 25px 0px 25px;
    box-shadow: 1px 1px 8px lightblue;
}

#senhaLabel, #labelemail, #entrar {
  font-weight: bold;
  font-size: 19px;
}

.fa-eye{
    cursor: pointer;
  }

#fazerconta {
    padding-top: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

.avatar {
    grid-column: 8/9;
    grid-row: 2/5;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bolder;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

label[for=usuario],
label[for=senha] {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 100%;
    background-color: #F25E5E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 1px 1px 8px lightblue;
}

button:hover{
    background-color: #f25e5eb7;
    box-shadow: 1px 1px 8px rgb(47, 49, 49);
  }

a:hover{
    color: #131fb9;
  }

.cadastro {
    grid-column: 9/13;
    grid-row: 4/8;
    border: solid 1px lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 8px lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.input-cad {
    width: 500px;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 19px;
    box-shadow: 1px 1px 8px lightblue;

}

#msgNaoEncontrado {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    display: none;
    width: 100%;
    border: 1px solid rgb(221, 72, 72);
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    grid-column: 1/13;
    grid-row: 12/13;
    display: flex;
    border-top: solid 1px lightgray;
    box-shadow: 3px 3px 2px lightblue;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
