<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="favicon.ico">
    <link rel="stylesheet" href="template-tina.css">
    <script src="https://kit.fontawesome.com/e7dd02bc5b.js" crossorigin="anonymous"></script>
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="botao-logo">Tina</a>
            <button class="botao-hoje" type="button">Hoje</button>
            <div id="cabecalho-direita">
                <button class="botao-filtrar" type="button">
                    <i class="fa-solid fa-filter"></i>
                    Filtrar
                </button>
                <button class="botao-perfil">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
        </header>
        <div class="cabecalho-calendario">
            <div>
                <i class="fa-solid fa-caret-left"></i>
                Mês Anterior
            </div>
            <div>Mês</div>
            <div>
                Mês Posterior
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>
        <main>
            <div class="listas">
                <div class="lista-itens">
                    Lista de Itens
                </div>
                <div class="lista-habitos">
                    Lista de Hábitos
                </div>
            </div>
            <div class="calendario">
                Calendário
            </div>
            <button class="menu" type="button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </main>
        <aside>
            <div class="menu-visualizacao">
                <button class="visualizacao-mes" type="button">
                    <img src="../Images/mensal.png" alt="Mensal">
                </button>
                <button class="visualizacao-semana" type="button">
                    <img src="../Images/semanal.png" alt="Semanal">
                </button>
                <button class="visualizacao-diaria" type="button">
                    <img src="../Images/diaria.png" alt="Diária">
                </button>
            </div>
            <div class="menu-listas">
                <button class="itens" type="button">
                    <img src="../Images/item.png" alt="Item">
                </button>
                <button class="habitos" type="">
                    <img src="../Images/lista-habitos.png" alt="Hábitos">
                </button>
            </div>
            <div class="menu-criacao">
                <button class="criacao-atividade" type="button">
                    <img src="../Images/atividade.png" alt="Atividade">
                </button>
                <button class="criacao-item" type="button">
                    <img src="../Images/item.png" alt="Item">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button class="criacao-habito" type="button">
                    <img src="../Images/lista-habitos.png" alt="Hábitos">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button class="criacao-categoria" type="button">
                    <img src="../Images/categoria.png" alt="Categoria">
                </button>
            </div>
            <div class="menu-ferramentas">
                <button class="ajuda" type="button">
                    <img src="../Images/ajuda.png" alt="Ajuda">
                </button>
                <button class="ferramentas" type="button">
                    <img src="../Images/configuracoes.png" alt="Configurações">
                </button>
            </div>
        </aside>
        <footer>Rodapé</footer>
    </div>
</body>

</html>