<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template-tina.css">
    <title>Tina</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="botao-logo">Tina</a>
            <button class="botao-hoje" type="button">Hoje</button>
            <div id="cabecalho-direita">
                <button class="botao-filtrar" type="button">Filtrar</button>
                <button class="botao-perfil">Perfil</button>
            </div>
        </header>
        <div class="cabecalho-calendario">
            <div>Mês Anterior</div>
            <div>Mês</div>
            <div>Mês Posterior</div>
        </div>
        <main>
            <div class="listas">
                <div class="lista-itens">
                    Lista de Itens
                </div>
                <div class="lista-habitos">
                    Lista de Hábitos
                </div>
            </div>
            <div class="calendario">
                Calendário
            </div>
    <button class="menu" type="button">
        +
    </button>
        </main>
        <aside>
            <div class="menu-visualizacao">
                <button class="visualizacao-mes" type="button">
                    M
                </button>
                <button class="visualizacao-semana" type="button">
                    S
                </button>
                <button class="visualizacao-diaria" type="button">
                    D
                </button>
            </div>
            <div class="menu-listas">
                <button class="itens" type="button">
                    I
                </button>
                <button class="habitos" type="">
                    H
                </button>
            </div>
            <div class="menu-criacao">
                <button class="criacao-atividade" type="button">
                    A+
                </button>
                <button class="criacao-item" type="button">
                    I+
                </button>
                <button class="criacao-habito" type="button">
                    H+
                </button>
                <button class="criacao-categoria" type="button">
                    C+
                </button>
            </div>
            <div class="menu-ferramentas">
                <button class="ajuda" type="button">
                    ?
                </button>
                <button class="ferramentas" type="button">
                    F
                </button>
            </div>
        </aside>
        <footer>Rodapé</footer>
    </div>
</body>

</html>