

:root {
    --cor-botoes-visualizacao: rgb(223, 39, 39);
    --cor-botoes-listas: rgb(223, 39, 39);
    --cor-botoes-criacao: rgb(223, 39, 39);
    --cor-botoes-ferramentas: rgb(223, 39, 39);
    --cor-aside: #F2F2F2;
    --cor-header: ;
    --cor-bory: ;
    --cor-botoes-hover: rgb(241, 85, 85);
    --cor-botoes-hover2: rgb(241, 247, 248);
    --cor-borda: lightgray;
    --cor-shadow: lightblue;
    --color-font: black;
    --cor-fundo-titulo: rgb(220, 224, 224);
    --cor-background2: ;
    --cor-background3: #eca3a3;
    --cor-background4: white;
    --padding: 5px 10px;;
    --font-size: x-small;
    --justify: space-between;
}