

:root {
    --cor-botoes-visualizacao: rgb(223, 39, 39);
    --cor-botoes-listas: rgb(223, 39, 39);
    --cor-botoes-criacao: rgb(223, 39, 39);
    --cor-botoes-ferramentas: rgb(223, 39, 39);
    --cor-aside: #F2F2F2;
    --cor-header: ;
    --cor-bory: ;
    --cor-botoes-houver: rgb(241, 85, 85);
    --cor-borda: lightgray;
    --cor-shadow: lightblue;
    --color-font: black;
    --cor-background2: ;
    --padding: 5px 10px;;
    --font-size: x-small;
    --justify: space-between;
}

.fa-solid.fa-m, .fa-solid.fa-s, .fa-solid.fa-d, .fa-solid.fa-i, .fa-solid.fa-h, .fa-solid.fa-a, .fa-solid.fa-plus, .fa-solid.fa-h, .fa-solid.fa-c, .fa-solid.fa-question, .fa-solid.fa-gear {
    display: none;
}

#mensal{
    background-image: url("/src/Images/mensal.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#diaria{
    background-image: url("/src/Images/diaria.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#item{
    background-image: url("/src/Images/item.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#habitos{
    background-image: url("/src/Images/habitos.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


#atividade{
    background-image: url("/src/Images/atividade.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


#categoria{
    background-image: url("/src/Images/categoria.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#ajuda{
    background-image: url("/src/Images/ajuda.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#configuracoes{
    background-image: url("/src/Images/configuracoes.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}