:root {
    --cor-background: rgba(112, 111, 114, 0.212);
    --cor-background2: rgba(146, 145, 148, 0.993);
    --cor-background3: black;
    --cor-background4: rgb(0, 0, 0);
    --cor-botoes-visualizacao: black;
    --cor-botoes-listas: black;
    --cor-botoes-criacao: black;
    --cor-botoes-ferramentas: black;
    --cor-aside: rgba(37, 35, 35, 0.438);
    --cor-header: rgba(112, 111, 114, 0.212);
    --cor-bory: rgb(37, 37, 37);
    --cor-botoes-hover: rgb(87, 87, 87);
    --cor-borda: rgb(116, 113, 113);
    --cor-shadow: rgb(102, 100, 100);
    --color-font: rgb(230, 230, 230);
    --cor-fundo-titulo: rgb(11, 12, 12);
    --padding: 5px 10px;
    --font-size: x-small;
    --justify: space-between;
}
