:root {
    /* --cor-background: rgb(223, 22, 39); */
    --cor-botoes-visualizacao: rgb(201, 158, 221);
    --cor-botoes-listas: #AFDEFA;
    --cor-botoes-criacao: #86eecb;
    --cor-botoes-ferramentas: #f38989;
    --cor-aside: #F2F2F2;
    --cor-header: ;
    --cor-bory: ;
    --cor-botoes-hover: #FBF5C5;
    --cor-botoes-hover2:  #AFDEFA;
    --cor-borda: lightgray;
    --cor-shadow: lightblue;
    --color-font: black;
    --cor-background2: ;
    --cor-background3: #f38989;;
    --cor-background4:  white;
    --cor-fundo-titulo: #FBF5C5;
    --padding: 5px 10px;;
    --font-size: x-small;
    --justify: space-between;
}

.cabecalhodados, .segsenha {
    color: aliceblue;
    background-color:rgb(129, 177, 219);
}

#salvaAteracoes {
    background-color: #86eecb;
    color: rgb(10, 10, 10);
}

#salvaAteracoes:hover {
    background-color:  rgb(201, 158, 221);
}

.menu-visualizacao>button:hover p, .menu-visualizacao>button:hover a,
.menu-listas>button:hover p,
.menu-criacao>button:hover p,
.menu-ferramentas>button:hover p,.menu-ferramentas>button:hover a {
    color: rgb(10, 10, 10);
}
