:root {
    --cor-background: rgba(112, 111, 114, 0.212);
    --cor-botoes-visualizacao: rgb(101, 177, 39);
    --cor-botoes-listas: rgb(28, 208, 240);;
    --cor-botoes-criacao: rgb(240, 28, 63);
    --cor-botoes-ferramentas: rgb(240, 141, 28);;
    --cor-aside: rgba(37, 35, 35, 0.438);
    --cor-header: rgba(112, 111, 114, 0.212);
    --cor-bory: rgb(37, 37, 37);
    --cor-botoes-houver: rgb(87, 87, 87);
    --cor-borda: rgb(116, 113, 113);
    --cor-shadow: rgb(102, 100, 100);
    --color-font: rgb(230, 230, 230);
    --cor-background2: rgba(112, 111, 114, 0.212);
    --cor-background3: rgb(187, 144, 236);
    --cor-fundo-titulo: rgb(52, 107, 224);
}

