:root {
    /* --cor-background: rgb(223, 22, 39); */
    --cor-botoes-visualizacao: rgb(201, 158, 221);
    --cor-botoes-listas: #AFDEFA;
    --cor-botoes-criacao: #86eecb;
    --cor-botoes-ferramentas: #f38989;
    --cor-aside: #F2F2F2;
    --cor-header: ;
    --cor-bory: ;
    --cor-botoes-houver: rgb(241, 85, 85);
    --cor-borda: lightgray;
    --cor-shadow: lightblue;
    --color-font: black;
    --cor-background2: ;
    --cor-background3: #ffe4f1d3;;
    --cor-fundo-titulo: #FBF5C5;
}
