:root {
    /* --cor-background: rgb(223, 22, 39); */
    --cor-botoes-visualizacao: #3460db;
    --cor-botoes-listas: #3460db;
    --cor-botoes-criacao: #3460db;
    --cor-botoes-ferramentas: #3460db;
    --cor-aside: #e5e9f7;
    --cor-header: #e5e9f7;
    --cor-bory: ;
    --cor-botoes-houver: #1a2d61;
    --cor-borda: lightgray;
    --cor-shadow: lightblue;
    --color-font: black;
    --cor-background2: ;
    --cor-background3: #e5e9f7;
    --cor-fundo-titulo: #5f83e6;
}

.fa-solid.fa-m, .fa-solid.fa-s, .fa-solid.fa-d, .fa-solid.fa-i, .fa-solid.fa-h, .fa-solid.fa-a, .fa-solid.fa-plus, .fa-solid.fa-h, .fa-solid.fa-c, .fa-solid.fa-question, .fa-solid.fa-gear {
    display: none;
}

#mensal{
    background-image: url("/src/Images/mensal.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#diaria{
    background-image: url("/src/Images/diaria.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#item{
    background-image: url("/src/Images/item.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#habitos{
    background-image: url("/src/Images/habitos.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


#atividade{
    background-image: url("/src/Images/atividade.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


#categoria{
    background-image: url("/src/Images/categoria.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#ajuda{
    background-image: url("/src/Images/ajuda.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#configuracoes{
    background-image: url("/src/Images/configuracoes.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}