* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 1080px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  height: 100%;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-bottom: solid 1px lightgray;
  box-shadow: 1px 1px 2px lightblue;
}

.botao-logo {
  padding: 25px;
  border-right: solid 1px lightgray;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.botao-perfil {
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 1px lightblue;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.botao-perfil:hover {
  background-color: rgb(241, 247, 248);
  box-shadow: 1px 1px 3px black;
}

#picture__input {
  display: none;
}

.picture {
  width: 400px;
  aspect-ratio: 16/9;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 187, 27);
  border: 2px dashed currentColor;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
  color:#f15555;
  background-color:rgb(88, 88, 88);
}

.picture:active {
  border-color: #f15555;
  background-color:rgb(88, 88, 88);
  background-color:black;
}

#cabecalho-direita {
  padding-right: 5px;
  align-items: center;
}

.cabecalho-perfil {
  grid-column: 1/13;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: (1fr);
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
  box-shadow: 1px 1px 2px lightblue;
  align-items: center;
  justify-content: flex start;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.perfil {
  grid-column: 3/4;
  font-size: 30px;
  margin-left: 40%;
}

.voltar {
  grid-column: 1/2;
  width: 70px;
  height: 30px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 4px #add8e6;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.voltar:hover {
  background-color: rgb(241, 247, 248);
  box-shadow: 1px 1px 3px rgb(88, 88, 88);
}

main {
  grid-column: 1/13;
  grid-row: 3/12;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  padding-right: 10px;
}

.campofoto {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.foto-perfil {
  grid-column: 1;
  grid-row: 1/2;
  margin-left: 10px;
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 8px lightblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
} 

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #c8c4c9;
}

.botao-alterar-foto {
  background-color: rgb(223, 39, 39);
  color: aliceblue;
  width: 190px;
  height: 40px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 8px #add8e6;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.botao-alterar-foto:hover {
  background-color: #f15555;
  box-shadow: 1px 1px 3px rgb(88, 88, 88);
}

.perfilinformacoes {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 480px;
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 8px lightblue;
  padding: 10px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}

.dados-do-perfil {
  height: 40px;
  padding-top: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(223, 39, 39);
  color: aliceblue;
  box-shadow: 1px 1px 8px lightblue;
}

.cabecalhodados {
  height: 35px;
  padding-left: 10px;
  padding-top: 7px;   
  text-align: left;
  font-size: 18px;
  border-style: solid;
  background-color: hwb(0 40% 7%);
  border-width: 0.05px 0px 0px 0px;
  color: aliceblue;
}

.formsinfo {
  height: 160px;
  padding-left: 20px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  border-radius: 0px 0px 15px 15px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 8px lightblue;
}

.seguranca {
  margin-top: 12px;
  height: 170px;
  background-color: #f2f2f2;
  border: solid 1px lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 8px lightblue;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.segsenha {
  height: 35px;
  padding-left: 10px;
  padding-top: 10px;   
  text-align: left;
  font-size: 15px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(236, 101, 101);
  color: aliceblue;
  box-shadow: 1px 1px 8px lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

.formulariosenha {
  height: 70%;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  border-radius: 0px 0px 15px 15px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 8px lightblue;
  font-size: 15px;
}

input[type=text] {
  width: 50%;
  padding: 7px 10px;
  margin: 5px 1px;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#genero, #datanasc {
  width: 20%;
  padding: 10px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

input[type=submit] {
  background-color: rgb(223, 39, 39);
  color: aliceblue;
  width: 200px;
  padding: 10px 5px;
  margin: 8px 0;
  text-align: center;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 8px #add8e6;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit]:hover {
  background-color: #f15555;
  box-shadow: 1px 1px 3px rgb(88, 88, 88);
}

 footer {
  grid-column: 1/13;
  grid-row: 12/13;
  display: flex;
  border-top: solid 1px lightgray;
  box-shadow: 3px 3px 2px lightblue;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

 .menu {
  display: none;
}

@media screen and (max-width: 759px) {

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .perfil {
    font-size: 30px;
    margin-left: 30%;
  }
  
  .campofoto {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .foto-perfil {
    grid-column: 1;
    grid-row: 1/2;
  }

  .cabecalho-perfil {
      grid-column: 1/13;
      grid-row: 2/3;
    }

  main {
    grid-column: 1/13;
    grid-row: 3/12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }

  .perfilinformacoes {
    grid-column: 1;
    grid-row: 1/2;
  }

  .campofoto {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .foto-perfil {
    grid-column: 1;
    grid-row: 1/2;
  }

  
input[type=submit] {
  font-size: 14px;
 
}
  footer {
    grid-column: 1/13;
    grid-row: 13/13;
  }

}